<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Gestión</title>
    <style>
        * {
            font-size: xx-large;
        }
        a {
            font-size: large;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Página principal</h1>
    <ul>
        <li>
            <a href="http://localhost:8080/cliente">Gestión de clientes</a>
        </li>
        <li>
            <a href="http://loccalhost:8080/facturas">Gestión de facturas</a>
        </li>
        <li>
            <a href="http://localhost:8080/Gestión de productos">Gestión declientes</a>
        </li>
    </ul>
    
</body>
</html>